body{
    display: flex;
    flex-direction: column;
    background-color: #3463AE;
    font-family: 'Sigmar One', cursive;
}
ul{
    list-style: none;
} 
button{
    font-family: 'Sigmar One', cursive;
    background-color: #FFCC00;
    color: #3463AE;
    border: 8px solid #CD3B28;
    border-radius: 12px;
    align-content: center;
    width: 150px;
    height: 40px;
    margin-right: 800px;
    align-items: flex-start;
} 
button:hover{
    background-color: #CD3B28;
    color: black;
    border: 8px solid #FFCC00;
    cursor: pointer;
} 
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
}
#greeting{
    position: absolute;
    text-shadow: -2px -2px 0 #3463AE, 2px -2px 0 #3463AE, -2px 2px 0 #3463AE, 2px 2px 0 #3463AE;
}
.gameplay{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #333F4C;
    border: 6px solid #FFCC00;
    box-shadow:
    inset 0 0 0 4px #3463AE,
    inset 0 0 0 8px #CD3B28;
    width: 400px;
    height: 280px;
    border-radius: 20%;
    justify-content: center;  
    justify-items: center;
    color: #FFCC00;
}
#pets{
    display: flex;
    align-content: baseline;
    align-items: center;
    position: fixed; 
    margin-top: 100px;
}
.pokemonimage{
    max-height: 100px;
}
#buttons{
    display: none;
}
#status-bar{
    display: none;
    margin-right:100%;
    align-items: flex-start;
    text-shadow: -2px -2px 0 #3463AE, 2px -2px 0 #3463AE, -2px 2px 0 #3463AE, 2px 2px 0 #3463AE;
}
#pokename{
    width: 200px;
    height: 25px;
    background-color: #FFCC00;
    border: 6px solid #3463AE;
    margin-top: 215px;
    margin-right: 15px;
    display: none;
}
#pets:hover{
    cursor:pointer;
}
.bigBoi{
    height: 150px;
    margin-top: -30px;
}


